body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

html {
    height: 100%;
}

a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

hr {
    margin: 50px 10%;
    border: 0;
    border-top: 1px solid #FFFFFF;
}

h1 {
    font-size: 40px;
}

header {
    position: relative;
    width: 100%;
    height: 600px;
    background: rgb(13,71,161);
    background: linear-gradient(0deg, rgba(13,71,161,1) 0%, rgba(0,33,113,1) 50%);
    text-align: center;
    overflow: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    text-align: center;
}

#particles-js {
    position: relative;
    width: 100%;
    height: 100%;
}

.container {

}

.header__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    color: #FFF;
}

.header__logo-name {
    font-family: 'Mochiy Pop One', sans-serif;
}

.header__divider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.footer__divider {
    width: 100%;
}

.footer__content {
    width: 100%;
    padding: 24px 0;
    background: rgb(0,33,113);
    background: linear-gradient(0deg, rgba(0,33,113,1) 30%, rgba(13,71,161,1) 100%);
}
